body {
height: 100%;
width: 100%;
}
.meme {
    width: 100%;
    height: 100%;
}

.pagelink {
    z-index: 999;
}

.memeimage {
   background-image: url("https://i.redd.it/34zckrf0l6i51.jpg");
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
