.navBar {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    font-size: larger;
    border: 2;
    padding: 10px;
    position: sticky;
    width: 100%;
    left: 0;
    top: 0;
}
.name {
    margin-left: 10px;
    align-items: center;
    color: rgb(73, 52, 26);
    
}
img {
    
    width: 30px;
    height: 30px;
}
.picture {
    width: 400px;
    height: 500px;
    /* margin-right: 50px; */
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menus {
    display: flex;
    justify-content: space-around;
}

.menu {
    margin: 15px;
    padding: 10px;
}

body {
    /* background-image: url(https://img.freepik.com/free-photo/abstract-background-light-steel-blue-wallpaper-image_53876-102530.jpg?semt=ais_hybrid&w=740&q=80); */
    background-size: 100vw 100vh;
    background-color: rgb(146, 119, 106);
}

.main_content {
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: azure;
}

.container {
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

#about {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 200px;
    padding: 20px;
}

.meme {
    width: 100%;
    height: 100%;
}

.pagelink {
    z-index: 999;
    padding-bottom: 50px;
}

.memeimage {
   background-image: url("https://i.redd.it/34zckrf0l6i51.jpg");
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-position: center center;
    background-repeat:no-repeat ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill  {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  margin: 90px;
}
.skillchip {
    background-color: beige;
    padding: 30px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    height: 50px;
}


















